<div class="container">
    <div class="row">
        <div class="col-12 mb-30">
            <button class="achieve-btn icon-btn" title="Add new user">
                <i class="fal fa-user-plus"></i>
            </button>
        </div>
        <div class="col-lg-3 col-sm-4 col-5">
            <ul class="user-list">
                <li *ngFor="let item of usersList;let i = index">
                    <a type="button" [class.active]="i === selectedUserIndex" (click)="setSelectedUser(item,i)">
                        <i class="fal fa-user"></i>
                        {{item.first_name}} {{item.last_name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-sm-8 col-7">
            <div class="user-cart d-flex flex-wrap mb-30" *ngIf="selectedUser">
                <div class="user-avatar"
                     [ngStyle]="
                     { 'background': 'url(' + selectedUser.icon + ') no-repeat center/contain'}">
                </div>
                <div class="user-info">
                    <div class="row">
                        <div class="col-5">
                            <span class="achieve-detail">
                                Имя: <span>{{selectedUser.first_name}} {{selectedUser.last_name}}</span>
                            </span>
                            <span class="achieve-detail">
                                ID: <span>{{selectedUser.id}}</span>
                            </span>
                            <span class="achieve-detail">
                                TOP: <span>{{selectedUser.top}}</span>
                            </span>
                            <span class="achieve-detail">
                                Очки достижений: <span>{{selectedUser.points}}</span>
                            </span>
                            <span class="achieve-detail">
                                Месяц: <span>01/11/2019 - 24/11/2019</span>
                            </span>
                            <span class="achieve-detail">
                                Рабочие дни: <span>{{selectedUser.work_days}}</span>
                            </span>
                            <span class="achieve-detail">
                                Опоздания:
                                <span>{{selectedUser.delays_count}}</span>
                            </span>
                        </div>
                        <div class="col-7">
                            <span class="achieve-detail">
                                Общее время (среднее/суммарно): <br>
                                <span>{{selectedUser.time_total_average}} / {{selectedUser.time_total_summary}}</span>
                            </span>
                            <span class="achieve-detail">
                                Рабочее время (среднее/суммарно): <br>
                                <span>{{selectedUser.time_work_average}} / {{selectedUser.time_work_summary}}</span>
                            </span>
                            <span class="achieve-detail">
                                Перерывы (среднее/суммарно): <br>
                                <span>{{selectedUser.time_break_average}} / {{selectedUser.time_break_summary}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-achievements row" *ngIf="selectedUser">
                <div class="col-6">
                    <h3>Достижения</h3>
                </div>
                <div class="col-6">
                    <div class="achieve-text_group">
                        <i class="far fa-search"></i>
                        <input type="search" name="search-achievements" id="search-achievements"
                               placeholder="Поиск" class="achieve-text" [(ngModel)]="query">
                    </div>
                </div>
                <div class="col-6 mb-15" *ngFor="let item of achievementsList | filter:'title':query; let i=index">
                    <div class="user-achievements_item d-flex align-items-center">
                        <div class="user-achievements_item-left">
                            <span class="achieve-detail text-center">{{item.title}}</span>
                            <div class="achieve-progress_bar">
                                <span>{{item.progress}}</span>
                                <div class="achieve-progress" [style.width]="item.progress"
                                     [style.background]="achievementsContent.getProgressColor(item.progress)"></div>
                            </div>
                            <span class="achieve-detail text-center">{{item.current_value}} / {{item.target_value}}</span>
                        </div>
                        <div class="user-achievements_item-right">
                            <div class="achieve-radio_group d-flex">
                                <input type="checkbox" class="achieve-radio" [name]="'achieve-radio-' + i"
                                       [id]="'achieve-radio-' + i" [checked]="item.enabled"
                                       (change)="updateUserAchievementStatus(this.checked)">
                                <label [for]="'achieve-radio-' + i" class="achieve-radio_label"
                                       title="Включить/Отключить достижение"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>